@model IEnumerable< Cella.Models.FileAttachments>
@using MISSystem.Web.Helpers

<div class="row">

    @if (Model.Count() == 0) {
        <div class="card-body">
            <div class="alert alert-info alert">
                <h5><i class="icon fas fa-info"></i> No Records</h5>
                Sorry there are no records to view
            </div>
        </div>

    } else {

        <table id="fileAttachmentTables" class="display table table-striped dataTable" style="width:100%">

            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
                    <th>@Html.DisplayNameFor(model => model.UploadedBy)</th>
                    <th>@Html.DisplayNameFor(model => model.OrignalFileName)</th>
                    <th>@Html.DisplayNameFor(model => model.Extension)</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var file in Model) {

                <tr>

                    <td>@file.CreatedDate</td>
                    <td>@file.UploadedByUser.FirstName @file.UploadedByUser.LastName</td>
                    <td>@file.OrignalFileName</td>
                    <td>
                        <span class="fiv-cla fiv-size-lg fiv-icon-@file.Extension"></span>
                    </td>
                    @if (file.UploadArea == FileAttachments.UploadAreEnum.Poi) {
                        <td>
                            <form asp-action="UpdatePoiProfilePhoto" asp-controller="Poi">
                                <input type="hidden" id="poiId" name="poiId" value="@file.PoiID" />
                                <input type="hidden" id="imageToSetDefault" name="imageToSetDefault" value="@file.Id" />
                                <button type="submit" class="btn-primary"> Set Default Image </button>
                            </form>

                        <a target="_blank" href="/Uploads/@file.File">View File</a>
                        </td>
                    } else {
                        <td><a target="_blank" href="/Uploads/@file.File">View File</a></td>

                    }



                </tr>
                }
            </tbody>

        </table>


    }

</div>
<!-- /.card-body -->
<div class="card-footer">

</div>
<!-- /.card-footer-->
<!-- /.card -->

<style>

    .fiv-cla, .fiv-viv, .fiv-sqo {
        font-size: 4em;
    }
</style>