@model Cella.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>StockItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreId)
        </dt>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullDescription)
        </dd>
  
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufactures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufactures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GTIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GTIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturePartNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturePartNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsShowOnHomePage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsShowOnHomePage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isShowPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isShowPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isPublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isPublished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SKU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SKU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isBackOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isBackOrder)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
