@model  Cella.Models.Notifications

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Notifications</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplyMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplyMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharedFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isReply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isReply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isRead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isRead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isAccepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isAccepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
