@model  Cella.Models.SystemSetup

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SystemSetup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendGridApiKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendGridApiKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendGridUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendGridUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendGridPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendGridPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwilloUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwilloUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwillioUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwillioUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwillioPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwillioPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadFolderPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadFolderPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeannatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeannatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GridItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GridItems)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
