@model  Cella.Models.SystemSetup

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SystemSetup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
   
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendGridApiKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendGridApiKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendGridUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendGridUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendGridPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendGridPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwilloUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwilloUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwillioUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwillioUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwillioPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwillioPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadFolderPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadFolderPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeannatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeannatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GridItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GridItems)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
